<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head :: head}"></head>
<body>
<nav th:replace="~{fragments/navbar :: navbar}"></nav>

<div class="container my-6">
    <h1 class="is-size-4"><i data-feather="package"></i> Create Product</h1>
    <form class="box p-3" th:object="${dto}" method="post" enctype="multipart/form-data" th:action="@{/products/save}">
        <input type="hidden" th:name="${_csrf.parameterName}"
               th:value="${_csrf.token}"/>
        <input type="hidden" name="id"
               th:value="*{id}"/>
        <div class="field">
            <label class="label" for="name">Name</label>
            <div class="control">
                <input class="input" type="text" placeholder="Product Name" name="name" id="name" th:field="*{name}"
                       required/>
            </div>
            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="has-text-danger"></div>
        </div>
        <div class="field">
            <label class="label" for="brand">Brand</label>
            <div class="control">
                <select name="brand" id="brand" class="input" th:field="*{brand}">
                    <option value="0">--Select Brand--</option>
                    <option th:each="b:${brands}" th:value="${b.id}" th:text="${b.name}"></option>
                </select>
            </div>
            <div th:if="${#fields.hasErrors('brand')}" th:errors="*{brand}" class="has-text-danger"></div>
        </div>
        <div class="field">
            <label class="label" for="category">Category</label>
            <div class="control">
                <select name="category" id="category" class="input" th:field="*{category}">
                    <option value="0">--Select Category--</option>
                    <option th:each="c:${categories}" th:value="${c.id}" th:text="${c.name}"></option>
                </select>
            </div>
            <div th:if="${#fields.hasErrors('category')}" th:errors="*{category}" class="has-text-danger"></div>
        </div>
        <div class="field">
            <label class="label" for="description">Description</label>
            <div class="control">
                <textarea class="input" name="description"
                          id="description" th:field="*{description}" rows="20"></textarea>
            </div>
        </div>
        <div class="field">
            <label class="label" for="photo">Picture</label>
            <div class="control has-icons-left">
                <input class="input" type="file" name="photo" id="photo" accept=".jpg,.jpeg,.png,.svg"/>
                <span class="icon is-small is-left">
                  <i data-feather="file"></i>
                </span>
            </div>
        </div>
        <div class="field">
            <button class="button is-link" type="submit">Create</button>
            <button class="button is-danger" type="reset">Reset</button>
        </div>
    </form>
</div>
</body>
</html>