<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head :: head}"></head>
<body>
<nav th:replace="~{fragments/navbar :: navbar}"></nav>
<div class="container my-6">

    <h1 class="h4 font-weight-bold"><i data-feather="users"></i> Product Details</h1>

    <div class="card p-3">
        <form th:action="@{/products/add_detail}" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <input type="hidden" name="productId" th:value="${productId}"/>

            <div class="mb-3">
                <label class="form-label" for="key">Key</label>
                <input class="form-control" type="text" placeholder="Key" name="key" id="key" required/>
            </div>

            <div class="mb-3">
                <label class="form-label" for="value">Value</label>
                <input class="form-control" type="text" placeholder="Value" name="value" id="value" required/>
            </div>

            <div class="mb-3">
                <button class="btn btn-primary" type="submit">Create</button>
                <button class="btn btn-danger" type="reset">Reset</button>
            </div>
        </form>
    </div>

    <table class="table table-bordered table-striped table-hover mt-3">
        <thead>
        <tr>
            <th>Name</th>
            <th>Details</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="d : ${details}">
            <td th:text="${d.key}"></td>
            <td th:text="${d.value}"></td>
            <td>
                <a th:href="@{'/products/delete_detail/' + ${d.key} + '?productId=' + ${productId}}" class="btn btn-danger">
                    <i data-feather="trash-2"></i> Delete
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
