<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head :: head}">
</head>
<body class="bg-light">
<nav th:replace="~{fragments/navbar :: navbar}"></nav>

<div class="container my-4">
    <div class="row">
        <div class="col-12 col-md-10 card card-body">
            <h2>The product you are looking for is <span class="text-warning">Not Found</span></h2>
        </div>
    </div>
</div>

</body>
</html>