<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head :: head}"></head>
<body class="bg-light">
<nav th:replace="~{fragments/navbar :: navbar}"></nav>
<div class="container my-5">

    <h1 class="h4 font-weight-bold"><i data-feather="users"></i> Product Management</h1>

    <div th:replace="~{fragments/table :: table(${productResult},${table_url},~{::#table})}">
        <table class="table table-bordered table-striped table-hover" id="table">
            <thead>
            <tr>
                <th>Picture</th>
                <th>Name</th>
                <th>Brand</th>
                <th>Category</th>
                <th>Final Rating</th>
                <th>Active</th>
                <th>Description</th>
                <th>
                    <a class="btn btn-primary" th:href="@{${table_url.csvUrl()}}">
                        CSV
                    </a>
                    <a class="btn btn-primary" th:href="@{${table_url.createPageUrl()}}">
                        <i data-feather="plus"></i>
                    </a>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="p : ${productResult.data}">
                <td>
                    <img th:src="@{'/picture/product/'+${p.picture}}" th:alt="${p.name}" class="img-fluid icon" />
                </td>
                <td th:text="${p.name}"></td>
                <td th:text="${p.brand.name}"></td>
                <td th:text="${p.category.name}"></td>
                <td th:text="${p.rating}"></td>
                <td th:text="${p.active}"></td>
                <td th:text="${p.description}"></td>
                <td>
                    <a th:href="@{'/products/details_page?productId={id}'(id=${p.id})}" class="btn btn-warning"
                       title="Product Details">
                        <i data-feather="list"></i>
                    </a>
                    <a th:href="@{'/products/create_page?productId={id}'(id=${p.id})}" class="btn btn-primary">
                        <i data-feather="edit"></i>
                    </a>
                    <a th:href="@{'/products/delete/{id}'(id=${p.id})}" class="btn btn-danger">
                        <i data-feather="trash-2"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
