<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head :: head}"></head>
<body>
<nav th:replace="~{fragments/navbar :: navbar}"></nav>
<div class="container my-5">
    <h1 class="h4 font-weight-bold"><i data-feather="users"></i> Visitor Management</h1>

    <div th:replace="~{fragments/table :: table(${visitorResult},${table_url},~{::#table})}">
        <table class="table table-bordered table-striped table-hover" id="table">
            <thead>
            <tr>
                <th>Picture</th>
                <th>Name</th>
                <th>Email</th>
                <th>Sub</th>
                <th>Last Visited</th>
                <th>
                    <a class="btn btn-primary" th:href="@{${table_url.csvUrl()}}">
                        CSV
                    </a>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="v : ${visitorResult.data}">
                <td>
                    <img th:src="${v.picture}" th:alt="${v.name}" class="img-fluid rounded-circle" style="width: 40px; height: 40px;"/>
                </td>
                <td th:text="${v.name}"></td>
                <td th:text="${v.email}"></td>
                <td th:text="${v.sub}"></td>
                <td th:text="${#temporals.format(v.lastVisited, 'dd-MM-yyyy HH:mm:ss')}"></td>
                <td>
                    <a th:href="@{'/visitors/delete/{id}'(id=${v.id})}" class="btn btn-danger">
                        <i data-feather="trash-2"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>
