<nav class="navbar is-link" role="navigation" aria-label="main navigation" th:fragment="navbar"
     xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" th:href="@{/}">
                <img th:src="@{/images/NPR_white.svg}" alt="logo" width="60" height="80"/>
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="nprNavbar">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="nprNavbar" class="navbar-menu">
            <div sec:authorize="isAuthenticated() && !hasAnyRole('ADMIN','ASSISTANT')" class="navbar-end">
                <a class="navbar-item">
                    <i data-feather="package"></i>
                    Products
                </a>

                <a class="navbar-item">
                    <i data-feather="list"></i>
                    Categories
                </a>

                <a class="navbar-item">
                    <i data-feather="award"></i>
                    Brands
                </a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        <img th:src="${picture}" alt="" class="icon has-radius-rounded"/>
                        <span th:text="${name == null || name.isEmpty() ? '' : name}"></span>
                    </a>

                    <div class="navbar-dropdown">
                        <form th:action="@{/logout}" method="post">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                            <button type="submit" class="navbar-item" aria-current="page"><i data-feather="log-out"></i>
                                Logout
                            </button>
                        </form>
                    </div>
                </div>
            </div>

            <div sec:authorize="hasAnyRole('ADMIN','ASSISTANT')" class="navbar-end">
                <a class="navbar-item" th:href="@{/dashboard/page}">
                    <i data-feather="home"></i>
                    Dashboard
                </a>
                <a class="navbar-item" th:href="@{/roles/page}">
                    <i data-feather="chevrons-up"></i>
                    Roles
                </a>
                <a class="navbar-item" th:href="@{/users/page}">
                    <i data-feather="user"></i>
                    Users
                </a>
                <a class="navbar-item" th:href="@{/brands/page}">
                    <i data-feather="award"></i>
                    Brands
                </a>
                <a class="navbar-item" th:href="@{/categories/page}">
                    <i data-feather="list"></i>
                    Categories
                </a>
                <a class="navbar-item" th:href="@{/products/page}">
                    <i data-feather="package"></i>
                    Products
                </a>
                <a class="navbar-item" th:href="@{/visitors/page}">
                    <i data-feather="users"></i>
                    Visitors
                </a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        <img th:src="@{'/picture'+${picture}}" alt="" class="icon has-radius-rounded"/>
                        <span th:text="${name.isEmpty() ? '' : name}"></span>
                    </a>

                    <div class="navbar-dropdown">
                        <form th:action="@{/logout}" method="post">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                            <button type="submit" class="navbar-item" aria-current="page"><i data-feather="log-out"></i>
                                Logout
                            </button>
                        </form>
                    </div>
                </div>
            </div>

            <div sec:authorize="!isAuthenticated()" class="navbar-end">
                <a class="navbar-item" th:href="@{/oauth2/authorization/google}">
                    <i data-feather="lock"></i>
                    Log in
                </a>
            </div>
        </div>
    </div>
</nav>