<!-- Table Start -->
<div th:fragment="table(jpaResult,tableUrl,table)" class="card mt-4">
  <div class="card-body">
    <div class="d-flex justify-content-end mb-3">
      <form class="d-flex align-items-center" th:action="@{${tableUrl.searchUrl}}">
        <input type="text" class="form-control" placeholder="Search" name="text" />
        <button type="submit" class="btn btn-primary ms-2">Search</button>
      </form>
      <a class="btn btn-danger ms-2" th:href="@{${tableUrl.homePageUrl}}">Clear Search</a>
    </div>

    <table th:replace="${table}" class="table table-striped table-hover"></table>

    <div class="d-flex justify-content-between align-items-center mt-3">
      <p class="mb-0">
        Showing <span th:text="${jpaResult.start}"></span> to <span th:text="${jpaResult.end}"></span> of <span th:text="${jpaResult.totalRecords}"></span>
      </p>

      <nav aria-label="Pagination">
        <ul class="pagination mb-0">
          <li class="page-item" th:classappend="${jpaResult.isFirst} ? 'disabled'">
            <a class="page-link" th:href="@{${tableUrl.homePageUrl}(page=${jpaResult.currentPage - 1})}">Previous</a>
          </li>
          <li class="page-item" th:each="i:${#numbers.sequence(1,jpaResult.totalPages)}"
              th:classappend="${jpaResult.currentPage + 1 == i} ? 'active'">
            <a class="page-link" th:href="@{|${tableUrl.homePageUrl}?page=${i-1}|}" th:text="${i}"></a>
          </li>
          <li class="page-item" th:classappend="${jpaResult.isLast} ? 'disabled'">
            <a class="page-link" th:href="@{${tableUrl.homePageUrl}(page=${jpaResult.currentPage + 1})}">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
<!-- Table End -->
