<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/head :: head}">
</head>
<body class="has-background-white">
<div class="container">
    <div class="is-four-fifths mx-auto mt-3 is-flex is-flex-direction-column is-justify-content-center is-align-items-center">
        <img th:src="@{'/images/access_denied.png'}" alt="4xx error" width="600" height="400"/>
        <h1 class="is-danger">403</h1>
        <h2 class="is-link my-2">You are not allowed to see this page.</h2>
        <a class="button is-link" th:href="@{'/'}">Home</a>
    </div>
</div>
</body>
</html>