@font-face {
    font-family: 'Overlock'; /* Choose a name for the font */
    src: url('/fonts/Overlock-Regular.ttf') format('woff2'); /* Include different formats for better compatibility */
    font-weight: normal; /* Optional: specify weight */
    font-style: normal; /* Optional: specify style */
}

@font-face {
    font-family: 'Roboto'; /* Choose a name for the font */
    src: url('/fonts/Roboto-Regular.ttf') format('woff2'); /* Include different formats for better compatibility */
    font-weight: normal; /* Optional: specify weight */
    font-style: normal; /* Optional: specify style */
}

body {
    font-family: Roboto, Overlock, serif !important;
}

#hero {
    background-image: url("/images/bg-4.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px !important;
}

.my_carousel {
    position: relative;
    overflow: hidden;
}

.my_carousel-track {
    display: flex;
    transition: transform 0.3s ease;
}

.my_carousel-item {
    min-width: 20%; /* Show 3 items at once */
    flex-shrink: 0;
    box-sizing: border-box;
    height: 100px;
}

.my_carousel-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.my_carousel-button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.icon{
    width: 40px;
    height: 35px;
}

.borderless,
.borderless:focus {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.notification-container {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.notification {
    min-width: 250px;
    opacity: 1;
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
    transform: translateX(0);
    background-color: rgba(10, 90, 155, 0.63) !important;
}

.notification.fade-out {
    opacity: 0;
    transform: translateX(50px);
}

.is-hidden{
    display: none;
}

#hero {
    background-image: url("/images/bg-4.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px !important;
}

/* Additional Customizations */
@media (max-width: 768px) {
    .my_carousel-item {
        min-width: 50%; /* Show 2 items on smaller screens */
    }
}

@media (max-width: 480px) {
    .my_carousel-item {
        min-width: 100%; /* Show 1 item on very small screens */
    }
}