@font-face {
    font-family: 'Overlock'; /* Choose a name for the font */
    src: url('/fonts/Overlock-Regular.ttf') format('woff2'); /* Include different formats for better compatibility */
    font-weight: normal; /* Optional: specify weight */
    font-style: normal; /* Optional: specify style */
}

@font-face {
    font-family: 'Roboto'; /* Choose a name for the font */
    src: url('/fonts/Roboto-Regular.ttf') format('woff2'); /* Include different formats for better compatibility */
    font-weight: normal; /* Optional: specify weight */
    font-style: normal; /* Optional: specify style */
}

body {
    font-family: Roboto, Overlock, serif !important;
}

#hero {
    background-image: url("/images/bg-4.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px !important;
}

.carousel {
    position: relative;
    overflow: hidden;
}

.carousel-track {
    display: flex;
    transition: transform 0.3s ease;
}

.carousel-item {
    min-width: 20%; /* Show 3 items at once */
    flex-shrink: 0;
    box-sizing: border-box;
    height: 100px;
}

.carousel-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel-button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.borderless,
.borderless:focus {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}