<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head :: head}"></head>
<body class="bg-light">
<nav th:replace="~{fragments/navbar :: navbar}"></nav>

<div class="container my-5">
    <h1 class="h4 mb-4 fw-bold d-flex align-items-center gap-2">
        <i data-feather="users"></i> Category Management
    </h1>

    <div th:replace="~{fragments/table :: table(${categoryResult},${table_url},~{::#table})}">
        <table class="table table-bordered table-striped table-hover align-middle" id="table">
            <thead class="table-light">
            <tr>
                <th>Picture</th>
                <th>Name</th>
                <th class="text-end">
                    <div class="d-flex justify-content-end gap-2">
                        <a class="btn btn-primary btn-sm" th:href="@{${table_url.csvUrl()}}">
                            CSV
                        </a>
                        <a class="btn btn-success btn-sm" th:href="@{${table_url.createPageUrl()}}">
                            <i data-feather="plus"></i>
                        </a>
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="b : ${categoryResult.data}">
                <td>
                    <img th:src="@{'/picture/category/'+${b.picture}}" th:alt="${b.name}" class="img-thumbnail" style="height: 50px; width: 50px; object-fit: cover;"/>
                </td>
                <td th:text="${b.name}"></td>
                <td class="text-end">
                    <div class="d-flex justify-content-end gap-2">
                        <a th:href="@{'/categories/create_page?brandId={id}'(id=${b.id})}" class="btn btn-primary btn-sm">
                            <i data-feather="edit"></i>
                        </a>
                        <a th:href="@{'/categories/delete/{id}'(id=${b.id})}" class="btn btn-danger btn-sm">
                            <i data-feather="trash-2"></i>
                        </a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
