<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head :: head}"></head>
<body>
<nav th:replace="~{fragments/navbar :: navbar}"></nav>
<div class="container my-6">
    <div class="grid">
        <div class="cell p-5 box">
            <p class="is-size-5 is-flex is-flex-direction-column is-justify-content-center is-align-items-center">
                <span>10</span>
                <span>User</span>
            </p>
        </div>
        <div class="cell p-5 box">
            <p class="is-size-5 is-flex is-flex-direction-column is-justify-content-center is-align-items-center">
                <span>1000</span>
                <span>Visitors</span>
            </p>
        </div>
        <div class="cell p-5 box">
            <p class="is-size-5 is-flex is-flex-direction-column is-justify-content-center is-align-items-center">
                <span>100</span>
                <span>Brands</span>
            </p>
        </div>
        <div class="cell p-5 box">
            <p class="is-size-5 is-flex is-flex-direction-column is-justify-content-center is-align-items-center">
                <span>200</span>
                <span>Categories</span>
            </p>
        </div>
        <div class="cell p-5 box">
            <p class="is-size-5 is-flex is-flex-direction-column is-justify-content-center is-align-items-center">
                <span>300</span>
                <span>Products</span>
            </p>
        </div>
        <div class="cell p-5 box">
            <p class="is-size-5 is-flex is-flex-direction-column is-justify-content-center is-align-items-center">
                <span>300,000</span>
                <span>Reviews</span>
            </p>
        </div>
    </div>
</div>
</body>
</html>