<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head :: head}"></head>
<body>
<nav th:replace="~{fragments/navbar :: navbar}"></nav>
<div class="container my-5">
    <div class="row">
        <div class="col-12 col-md-4 mb-4">
            <div class="card p-5 text-center">
                <p class="h5">
                    <span>10</span><br>
                    <span>User</span>
                </p>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-4">
            <div class="card p-5 text-center">
                <p class="h5">
                    <span>1000</span><br>
                    <span>Visitors</span>
                </p>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-4">
            <div class="card p-5 text-center">
                <p class="h5">
                    <span>100</span><br>
                    <span>Brands</span>
                </p>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-4">
            <div class="card p-5 text-center">
                <p class="h5">
                    <span>200</span><br>
                    <span>Categories</span>
                </p>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-4">
            <div class="card p-5 text-center">
                <p class="h5">
                    <span>300</span><br>
                    <span>Products</span>
                </p>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-4">
            <div class="card p-5 text-center">
                <p class="h5">
                    <span>300,000</span><br>
                    <span>Reviews</span>
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
