<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head :: head}"></head>
<body>
<nav th:replace="~{fragments/navbar :: navbar}"></nav>
<div class="container my-5">

    <h1 class="h4 font-weight-bold"><i data-feather="users"></i> Role Management</h1>
    <div th:replace="~{fragments/table :: table(${roleResult},${table_url},~{::#table})}">
        <table class="table table-bordered table-striped table-hover" id="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Role</th>
                <th>Description</th>
                <th>
                    <a class="btn btn-primary" th:href="@{${table_url.csvUrl()}}">
                        CSV
                    </a>
                    <a class="btn btn-primary" th:href="@{${table_url.createPageUrl()}}">
                        <i data-feather="plus"></i>
                    </a>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="r,stat : ${roleResult.data}">
                <td th:text="${stat.index+1}"></td>
                <td th:text="${r.name}"></td>
                <td th:text="${r.description}"></td>
                <td>
                    <a th:href="@{'/roles/create_page?roleId={id}'(id=${r.id})}" class="btn btn-warning">
                        <i data-feather="edit"></i>
                    </a>
                    <a th:href="@{'/roles/delete/{id}'(id=${r.id})}" class="btn btn-danger">
                        <i data-feather="trash-2"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
